.easybank_footer {
    background-color: hsl(233, 26%, 24%);
    color: white;
    text-align: center;
    padding-block-start: 32px;
    padding-block-end: 40px;
}

.easybank_footer__navigation {
    padding-block-start: 16px;    
    padding-block-end: 16px;    
}

.easybank_footer__navigation__social_media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-block-end: 16px;
}

.easybank_footer__navigation__about__list {
    padding-block-end: 16px;
}

.easybank_footer__link {
    color: white;
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    padding-block-start: 13px;
    padding-block-end: 13px;
    border-radius: 20px;
    background: linear-gradient(to right, limegreen, rgb(81, 204, 226));
}

@media (min-width: 1000px) {
    .easybank_footer {
        text-align: start;
    }

    .easybank_footer__footer_logo,
    .easybank_footer__navigation {
        margin: auto;
        max-width: 900px;
    }

    .easybank_footer__navigation {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    
    .easybank_footer__navigation__social_media {
        padding-inline-end: 200px;
        padding-block-start: 20px;
    }
    
    .easybank_footer__navigation__social_media__list {
        padding-inline-end: 16px;
    }
    
    .easybank_footer__navigation__about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        margin-block-start: -47px;
    }
}